Package: com.pnre.statusbarfix2
Name: StatusBarFix2
Depends: mobilesubstrate, firmware (>= 7), cydia (< 1.1.10)
Version: 0.1.2
Architecture: iphoneos-arm
Description: Fix status bar not turning white.
Depiction: http://repo.pnre.co.vu/depics/statusbarfix2/
Maintainer: pNre <pnre00+statusbarfix2@gmail.com>
Author: pNre <pnre00+statusbarfix2@gmail.com>
Section: Tweaks
